.circle-img {
    height: 105px;
    width: 105px;
    color: white;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: anton;
}
.icon-circle-img {
    height: 18px;
    width: 18px;
    margin: 5px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: anton;
}

@media (min-width: 576px) {
    .img-resize {
        max-width: 300px;

    }
}

@media (min-width: 768px) {
    .img-resize {
        max-width: 350px;
    }
}


@media (min-width: 992px) {
    .img-resize {
        max-width: 400px;
    }
}

@media (min-width: 1200px) {
    .img-resize {
        max-width: 450px;
    }
}



